<div class="general-text">

    <h1><span>- Terms of Service - </span></h1>


    <p>Subject to Change Without Notice.</p>

    <h2>Disclaimer</h2>
    <p>
        By purchasing my services, you automatically agree to the following conditions.
        If you are not comfortable with my Terms Of Service and/or are not willing to agree to the conditions, you may
        not request a commission.
    <ul>
        <li>My work may not be used for AI purposes or as AI training.</li>
        <li>NFT usage is strictly forbidden</li>
    </ul>
    </p>

    <h2>User Agreement</h2>

    <p>By commissioning me, you agree that you have read and accepted all the terms described herein.</p>

    <h2>General</h2>

    <h3>CLIENT</h3>
    <p>You, the Client, will be expected to first read my TOS and understand my general Commission Prices.</p>
    <ul>
        <li>You, the Client, may display my work on external sites as long as it is visibly credited and linked back to
            me.</li>
        <li>You may not upload or host my work in any gallery that is intended to display your own work only. </li>
        <li>You may not claim my work as your own. </li>
        <li>You may use the Artwork for personal use including but not limited to: avatars, phone or computer
            wallpapers, and personal website/profile displays. </li>
        <li>You reserve the right to print or create an otherwise physical reproduction of the Artwork for PERSONAL use
            only (ie. NOT for sale).</li>
        <li>You may not use the Artwork for redistribution or external projects, commercial or non-commercial (i.e.
            t-shirts, mugs, public flyers, etc.) unless otherwise discussed.)</li>

        <li>You are NOT authorized to trace over my Artwork in any way, including the use of the artwork as a “base.”
        </li>
    </ul>
    <p>Clients who have commissioned and/or received work before this TOS has gone into effect are still bound to its
        contents. </p>

    <p> By placing an order, you agree to these terms and conditions. Please read these terms carefully.</p>

    <h3> Artist </h3>
    <ul>
        <p>By commissioning me, you are purchasing my service as an artist only.</p>
        <li>I reserve the right to post your finished artwork in my gallery. </li>
        <li>I reserve the right to decline any project or client for any reason.</li>
        <li>I reserve the right to refund you the full amount paid if I no longer wish to work on your project for any
            reason.</li>
    </ul>
    </ul>

    <h3>Commercial Usage agreement</h3>

    <ul>
        <li>If you, the Client, wish to order a commission for Commercial use, the total price of the commission, as
            well as any other royalties, will be agreed upon upfront. </li>
        <li>The following cases are considered commercial use: Reproducing and selling the artwork, publicly or
            privately, cases where you receive profit from a medium/platform where you have posted my artwork, (eg.
            Patreon, YouTube, Twitch, a
            personal site, business cards etc). </li>

        <h2>Copyright</h2>

        <p>
        <ul>
            <li> I reserve the right to sign and/or watermark my own work.</li>
            <li> I retain all copyright over my work, which includes the right to redistribute, reproduce, or use the
                image as a
                sample for self-promotion unless otherwise agreed upon.</li>
            <li> In the case of a commission, I will not claim the rights to a character design unless it was one of my
                own
                designs.</li>
            <li>I will not reuse/resell the Artwork for personal or commercial projects unless agreed upon.</li>
        </ul>
        </p>


        <h2>>NDA - Privacy request</h2>
        <p>
        <ul>
            <li>If you wish for your request to be private, it must be stated during the ordering process.</li>
            <li>The privacy request entails that I am not allowed to share any WIPs on social media, nor am I allowed to
                stream
                the process of the commission anywhere.</li>
            <li>If you are a Vtuber and want me to keep assets private until your debut, I ask that you refrain from
                sharing any such spoilers yourself</li>
            <li>My NDA fee usually starts at +5% of the total quote, but it might differ. The bigger the project the
                bigger the
                fee.</li>
        </ul>
        </p>